<section class="logo">
  <span>BM_NEWS</span>
  <span>Developed by <br> Monish Bar</span>
</section>
<section class="links">
  <ul class="site-info">
    <li>About Us</li>
    <li>Privacy</li>
    <li>Policy</li>
    <li>Suport</li>
  </ul>
  <ul class="others">
    <li>Videos</li>
    <li>Books</li>
    <li>Graphics</li>
    <li>Audios</li>
  </ul>
</section>
<section class="contact-info">
  <span class="number">(M)- +91 9804014075</span>
  <span class="email">monish96bar@gmail.com</span>
  <span class="website"><a href="#">www.monish.com</a></span>
</section>